[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/tale"]
	path = themes/tale
	url = https://github.com/EmielH/tale-hugo.git
[submodule "themes/minimo"]
	path = themes/minimo
	url = https://github.com/MunifTanjim/minimo
[submodule "themes/kiera"]
	path = themes/kiera
	url = https://github.com/avianto/hugo-kiera.git
