.center-image {
    margin: 0 auto;
    display: block;
}

.center-figure-image > img {
    margin: 0 auto;
    display: block;
}

.image-caption {
    text-align: center;
    font-size: .8rem;
    color: 'light-grey';
}
